Repository ixth/monodrone: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, sh -c 'yarn install', git add yarn.lock

.lintstagedrc:

{
    "*.{js,jsx}": "eslint",
    "package.json": [
        "sh -c 'yarn install'",
        "git add yarn.lock"
    ]
}

pass "proposals": true in babel-js-env.corejs config
  .babelrc
  src/index.tsx
Due: none

Add @types/webmidi
  package.json
  src/containers/Midi/index.tsx
  src/lib/MIDIMessage.ts
  src/lib/midi-message.js
  src/lib/omni.ts
  yarn.lock
Due: eslint, sh -c 'yarn install', git add yarn.lock

Convert webaudio components to ts
  src/components/Audio/index.tsx
  src/components/Mode/index.tsx
  src/components/Monotron/index.tsx
  src/webaudio/audio-node-hook.js
  src/webaudio/custom-audio-node.ts
  src/webaudio/delay.js
  src/webaudio/delay.ts
  src/webaudio/monotron.ts
  src/webaudio/noise-generators.ts
  src/webaudio/noise.js
  src/webaudio/noise.ts
  src/webaudio/osc.js
  src/webaudio/oscillator.ts
  src/webaudio/sequencer.ts
Due: eslint

wip
  .babelrc
  index.html
  js/actions.js
  js/components/audio.js
  js/components/blocks/block.js
  js/components/blocks/delay.js
  js/components/blocks/lfo.js
  js/components/blocks/mode.js
  js/components/blocks/ribbon.js
  js/components/blocks/vcf.js
  js/components/controls/draggable.js
  js/components/controls/knob.js
  js/components/controls/ribbon.js
  js/components/monotron.js
  js/constants.js
  js/dispatcher.js
  js/lib/events.js
  js/script.js
  js/store.js
  js/webaudio/audio-node.js
  js/webaudio/delay.js
  js/webaudio/monotron.js
  js/webaudio/noise.js
  js/webaudio/osc.js
  js/webaudio/sequencer.js
  package.json
  publish.sh
  rollup.config.js
  yarn.lock
Due: eslint, sh -c 'yarn install', git add yarn.lock

Use yarn in GitHub CI and add caching
  .github/workflows/main.yml
Due: none

add lint workflow
  .github/workflows/lint.yml
Due: none

wip
  src/lib/MIDIMessage.ts
  src/reducers/volume.ts
  src/webaudio/custom-audio-node.ts
  src/webaudio/delay.ts
  src/webaudio/sequencer.ts
  webpack.dev.js
Due: eslint

get rid of react-draggable
  package.json
  src/components/DraggableAngle/index.tsx
  src/components/DraggableAngle/utils.ts
  src/components/Knob/index.tsx
  src/components/Knob/styles/knob.css
  src/components/Ribbon/index.tsx
  src/components/Ribbon/styles/keyboard.css
  src/containers/Ribbon/index.tsx
  yarn.lock
Due: sh -c 'yarn install', git add yarn.lock

use personal eslint config
  .eslintrc
  .eslintrc.js
  package.json
  yarn.lock
Due: eslint, sh -c 'yarn install', git add yarn.lock

bump packages a bit
  package.json
  yarn.lock
Due: sh -c 'yarn install', git add yarn.lock

fix eslint issues
  .eslintrc.js
  package.json
  src/components/Audio/index.tsx
  src/components/Block/index.tsx
  src/components/DraggableAngle/index.tsx
  src/components/DraggableAngle/utils.ts
  src/components/Knob/index.tsx
  src/components/Mode/index.tsx
  src/components/Mode/position.tsx
  src/components/Monotron/index.tsx
  src/components/Param/index.tsx
  src/components/Ribbon/index.tsx
  src/containers/Audio/index.tsx
  src/containers/Midi/index.tsx
  src/containers/Ribbon/index.tsx
  src/global.d.ts
  src/index.tsx
  src/lib/omni.ts
  src/reducers/delay.ts
  src/reducers/lfo.ts
  src/reducers/osc.ts
  src/reducers/setField.ts
  src/reducers/vcf.ts
  src/webaudio/custom-audio-node.ts
  src/webaudio/delay.ts
  src/webaudio/monotron.ts
  src/webaudio/noise-generators.ts
  src/webaudio/noise.ts
  src/webaudio/oscillator.ts
  src/webaudio/sequencer.ts
  yarn.lock
Due: eslint, sh -c 'yarn install', git add yarn.lock

Add README.md
  README.md
  monodrone.png
Due: none

Up caniuse-lite
  yarn.lock
Due: none

Fix lost WebMidi
  src/lib/MIDIMessage.ts
Due: none

Use @ixth/eslint-config-react
  .eslintrc.js
  package.json
  yarn.lock
Due: eslint, sh -c 'yarn install', git add yarn.lock

Use fixed @ixth/eslint-config-react
  yarn.lock
Due: none

Migrate to npm
  .github/workflows/lint.yml
  .github/workflows/main.yml
  .lintstagedrc
  .npmrc
  .yarnrc
  githooks/pre-commit
  package-lock.json
  package.json
  yarn.lock
Due: sh -c 'yarn install', git add yarn.lock

--wip-- [skip ci]
  package-lock.json
  package.json
  packages/midi-utils/.eslintrc.js
  packages/midi-utils/.gitignore
  packages/midi-utils/README.md
  packages/midi-utils/package.json
  packages/midi-utils/src/MIDIMessage.ts
  packages/midi-utils/src/omni.ts
  packages/midi-utils/tsconfig.json
  packages/midi-utils/tsconfig.ref.json
  packages/wa-components/.eslintrc.js
  packages/wa-components/.gitignore
  packages/wa-components/README.md
  packages/wa-components/package.json
  packages/wa-components/src/custom-audio-node.ts
  packages/wa-components/src/feedback-delay.ts
  packages/wa-components/src/monotron.ts
  packages/wa-components/src/noise.ts
  packages/wa-components/src/oscillator.ts
  packages/wa-components/tsconfig.json
  packages/wa-components/tsconfig.ref.json
  src/components/Audio/index.tsx
  src/components/Audio/utils.ts
  src/containers/Midi/index.tsx
  src/webaudio/custom-audio-node.ts
  src/webaudio/delay.ts
  src/webaudio/monotron.ts
  src/webaudio/noise-generators.ts
  src/webaudio/noise.ts
  src/webaudio/oscillator.ts
  src/webaudio/sequencer.ts
  tsconfig.base.json
  tsconfig.json
Due: eslint, sh -c 'yarn install', git add yarn.lock

Bump packages
  package-lock.json
  package.json
Due: sh -c 'yarn install', git add yarn.lock

Bump packages
  package-lock.json
Due: none

Refactor WebAudio components
  src/components/Audio/index.tsx
  src/webaudio/custom-audio-node.ts
  src/webaudio/delay.ts
  src/webaudio/feedback-delay.ts
  src/webaudio/monotron.ts
  src/webaudio/noise.ts
  src/webaudio/oscillator.ts
Due: none

Refactor WebAudio components
  package-lock.json
  package.json
  src/components/Audio/index.tsx
  src/webaudio/custom-audio-node.ts
  src/webaudio/delay.ts
  src/webaudio/feedback-delay.ts
  src/webaudio/monotron.ts
  src/webaudio/noise.ts
  src/webaudio/oscillator.ts
Due: sh -c 'yarn install', git add yarn.lock

Fix lock file
  package-lock.json
Due: none

Move webaudio and midi to workspaces
  package-lock.json
  package.json
  packages/midi-utils/.eslintrc.js
  packages/midi-utils/.gitignore
  packages/midi-utils/README.md
  packages/midi-utils/package.json
  packages/midi-utils/src/MIDIMessage.ts
  packages/midi-utils/src/omni.ts
  packages/midi-utils/tsconfig.json
  packages/midi-utils/tsconfig.ref.json
  packages/wa-components/.eslintrc.js
  packages/wa-components/.gitignore
  packages/wa-components/README.md
  packages/wa-components/package.json
  packages/wa-components/src/custom-audio-node.ts
  packages/wa-components/src/feedback-delay.ts
  packages/wa-components/src/monotron.ts
  packages/wa-components/src/noise.ts
  packages/wa-components/src/oscillator.ts
  packages/wa-components/tsconfig.json
  packages/wa-components/tsconfig.ref.json
  src/components/Audio/index.tsx
  src/components/Audio/utils.ts
  src/containers/Midi/index.tsx
  src/webaudio/noise-generators.ts
  src/webaudio/sequencer.ts
  tsconfig.base.json
  tsconfig.json
Due: eslint, sh -c 'yarn install', git add yarn.lock

Rename linting job
  .github/workflows/lint.yml
Due: none

Fix eslint configs
  .eslintrc.js
  .github/workflows/lint.yml
  package-lock.json
  package.json
  packages/midi-utils/.eslintrc.js
  packages/midi-utils/package.json
  packages/wa-components/.eslintrc.js
  packages/wa-components/package.json
  packages/wa-components/src/custom-audio-node.ts
  packages/wa-components/src/monotron.ts
  packages/wa-components/src/oscillator-type-param.ts
  packages/wa-components/src/oscillator.ts
  src/components/Audio/index.tsx
  src/components/Audio/utils.ts
  tsconfig.eslint.json
  tsconfig.json
  webpack.common.js
Due: eslint, sh -c 'yarn install', git add yarn.lock

First approach to generate svg background
  src/html/styles/space.svg
  src/html/styles/style.css
Due: none

Remove bg.svg
  src/html/styles/space.jpg
Due: none

Update GH Pages deploy workflow
  .github/workflows/main.yml
Due: none

Fix branch name
  .github/workflows/main.yml
Due: none

Fix deploy and linting workflows
  .github/workflows/lint.yml
  .github/workflows/main.yml
  package.json
Due: sh -c 'yarn install', git add yarn.lock

Add storybook
  .eslintrc.js
  .npmrc
  .storybook/main.js
  .storybook/preview.js
  package-lock.json
  package.json
  src/stories/Button.stories.tsx
  src/stories/Button.tsx
  src/stories/Header.stories.tsx
  src/stories/Header.tsx
  src/stories/Introduction.stories.mdx
  src/stories/Page.stories.tsx
  src/stories/Page.tsx
  src/stories/assets/code-brackets.svg
  src/stories/assets/colors.svg
  src/stories/assets/comments.svg
  src/stories/assets/direction.svg
  src/stories/assets/flow.svg
  src/stories/assets/plugin.svg
  src/stories/assets/repo.svg
  src/stories/assets/stackalt.svg
  src/stories/button.css
  src/stories/header.css
  src/stories/page.css
Due: eslint, sh -c 'yarn install', git add yarn.lock

Create stroies for Mode and Knob
  src/components/Knob/index.tsx
  src/components/Mode/index.tsx
  src/stories/Button.stories.tsx
  src/stories/Button.tsx
  src/stories/Header.stories.tsx
  src/stories/Header.tsx
  src/stories/Introduction.stories.mdx
  src/stories/Knob.stories.tsx
  src/stories/Mode.stories.tsx
  src/stories/Page.stories.tsx
  src/stories/Page.tsx
  src/stories/assets/code-brackets.svg
  src/stories/assets/colors.svg
  src/stories/assets/comments.svg
  src/stories/assets/direction.svg
  src/stories/assets/flow.svg
  src/stories/assets/plugin.svg
  src/stories/assets/repo.svg
  src/stories/assets/stackalt.svg
  src/stories/button.css
  src/stories/header.css
  src/stories/page.css
Due: none

Use setProperty instead of setters
  src/components/Knob/index.tsx
Due: none

Switch to rendering SVG
  src/components/Knob/index.tsx
  src/components/Knob/styles/knob.css
  src/components/Knob/styles/knob.svg
Due: none

Extract Math.clamp
  src/containers/Ribbon/index.tsx
  src/global.d.ts
  src/utils.ts
Due: none

Split Knob into controlled and uncontrolled components
  src/components/Knob/controlled.tsx
  src/components/Knob/index.tsx
  src/components/Knob/styles/knob.css
  src/components/Knob/uncontrolled.tsx
  src/components/Monotron/index.tsx
  src/stories/Knob.stories.tsx
Due: none

Fix utils import
  src/containers/Ribbon/index.tsx
Due: none
